:root {
  --lgb-bg-trans: #00000058;
  --lgb-bg-focus: #000000A0;
  --lgb-bg-card:  #202020A0;
}

a[href^="http"] { color: #56cbe3; }
a:hover, .title:hover { color: #4bc4f2 !important; }
ul>li.selected>span { color: aqua !important; }
.token.punctuation { color: #b8b5ce; }
.center[data-v-1a591deb] { background: #1e2a38 !important; }
.main-wrapper { background: var(--lfe-color--grey-5) !important; }
button.solid:hover, button:hover, li:hover, .item:hover, ::selection, .cs-dialog-timeline-item:hover
  { background: rgba(52, 192, 219, .3) !important; }
.status>.status-link>.status-name
  { color: black !important; }
strong, input, textarea, .refined-input, .background
  { color: white; }
.am-form input[type=number], .am-form input[type=search], .am-form input[type=text], .am-form input[type=password], .am-form input[type=datetime], .am-form input[type=datetime-local], .am-form input[type=date], .am-form input[type=month], .am-form input[type=time], .am-form input[type=week], .am-form input[type=email], .am-form input[type=url], .am-form input[type=tel], .am-form input[type=color], .am-form select, .am-form textarea, .am-form-field { color: white; }
button.solid, button, .swal2-popup, .dropdown, .lform-size-middle,
    button.solid, button, .swal2-popup, .dropdown, .lform-size-middle
  { color: #CCC; }
.count, .result-count, .time, .action>*, .wrap>.name, .info-content, .stat>.field, .detail,
    button>span, .cs-dialog-button, .update-info, .label, .apps a, .radio-group > *, .button-2line>.text,
    .cs-header, .cs-footer, .cm-gutters, .cm-activeLineGutter, .CodeMirror-gutters, .mp-editor-toolbar,
    .header-link, .title, .number, .cm-hr, .row.title>a, .light-black
  { color: #CCC !important; }
code, span[data-v-386007e1], .row>div>span, input
  { color: #cdcdcd !important; }
.lg-article, .item, .content
  { color: #d2d2d2; }
.l-card, .card, .reply-item>.meta, .popup-wrap > .popup
  { color: #dcdcdc; }
.theme-bg, .top-bar, .header-layout.normal > .background, .training-title
  { color: #dcdcdc !important; }
.lfe-body, .swal2-title, .lfe-caption, .caption, .main-container, main, .article-content,
    h1, h2, h3, h4, h5, h6, li, .lfe-h1, .lfe-h2, .lfe-h3, .lfe-h4, .lfe-h5, .lfe-h6
  { color: #dedede; }
svg, a, p
  { color: #e0e0e0; }
.user-nav>a, .header-layout.normal>.header>.user-nav, .header-layout.narrow>.header>.user-nav,
    .content
  { color: #e0e0e0 !important; }
    .casket, .mp-preview-area,  .mp-preview-content,
    button.solid:hover, button:hover, li:hover, .item:hover, ::selection, .cs-dialog-timeline-item:hover
  { color: #efefef !important; }

.cm-content, .CodeMirror { background: #686868A0 !important; }
.panel-layout>.panel-divider.with-icon { background: #00888880 !important; }
.panel-layout>.panel-divider.dragging { background-color: var(--lfe-color--primary) !important; }
.expand { background: linear-gradient(rgba(35, 37, 38, 0), rgba(65, 67, 69, 0.6)) !important; }
body { background: #202020; }
.error-background { background: transparent !important; }
.page-bar > div > button:not(.selected) { background: var(--lgb-bg-focus) !important; }

.theme-bg, .top-bar, .header-layout.normal > .background { background: linear-gradient(90deg, rgba(15, 17, 18, 0.75), rgba(35, 37, 39, 0.75)) !important; }
.lside.bar, .rside, #app > .lfe-body, .lside.drawer { background: linear-gradient(3deg, rgba(35, 37, 39, 0.75), rgba(15, 17, 18, 0.75)) !important; }
code { border: 0.5px solid white; }
p > img { filter: invert(1); }